.code-info-label-code-membership-status {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.code-info-label {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 41.07%;
  font: 600 12px Plus Jakarta Sans;
  color: #beb9ba;
}
.membership-status-label {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 58.93%;
  padding-right: 15px;
  padding-left: 15px;
  font: 400 12px Plus Jakarta Sans;
  color: white;
}
