.exercise-container {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-top: 12px;
  margin-right: 25px;
  margin-bottom: -20.5px;
}
.exercise-count-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 31px;
}
.circle-button {
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 29px;
  padding: 0 11px;
  font: 600 16px Plus Jakarta Sans;
  color: white;
  background: #222338;
  border: 2px solid #848484;
  border-radius: 50%;
}
.vertical-divider {
  box-sizing: border-box;
  flex: 0 0 auto;
  height: 32px;
  margin-top: 2.5px;
  border-left: 1px solid #848484;
}
